*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --white: #E9E3DF;
  --orange: #FF7A30;
  --discord-blue: #30394b;
  --discord-grey: #303030;
  --black: #000000;
}

body{
  background-color: var(--white);
}

/*LETTER CSS*/
.letter_container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.letter{
  background-color: var(--discord-blue);
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the image horizontally */
  text-align: center;   /* Optional: also centers text */
  color: gainsboro;
  width: 300px;
  outline: 2px solid white;
  outline-offset: -15px; /* Negative pulls it inward */
  position: relative;
  
}

.letter .title{
  font-weight: bold;
}

.letter img{
  width: 260px;
}

.letter hr{
  margin-inline: 50px;
}

.invite-p{
  margin: 30px 0 5px 0;
  font-size: 12px;
}

.event-p{
  position: absolute;
  font-size: 30px;
  top: 160px;
  left: 35px;
}

.letter-time{
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 18px;
}

.footer{
  font-size: 10px;
  margin: 10px 30px;
}

.letter-btn{
  margin: 20px 0 40px 0;
} 

.letter button{
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}

.letter button:hover{
  color: #c145ff;
}


